In [1]:
import awswrangler as wr
import boto3

aws_session = boto3.Session(region_name="us-east-1")

In [2]:
customers = wr.catalog.table(database="sampledb", table="customer")
customers

     Column Name    Type  Partition Comment
0     first_name  string      False
1      last_name  string      False
2   company_name  string      False
3        address  string      False
4           city  string      False
5         county  string      False
6          state  string      False
7            zip  string      False
8         phone1  string      False
9         phone2  string      False
10         email  string      False
11           web  string      False

In [3]:
for index, row in customers.iterrows():
    print (index,row["Column Name"], row["Type"], row["Partition"])

0 first_name string False
1 last_name string False
2 company_name string False
3 address string False
4 city string False
5 county string False
6 state string False
7 zip string False
8 phone1 string False
9 phone2 string False
10 email string False
11 web string False

In [5]:
columns = []
partition_cols = []
for index, row in customers.iterrows():
    col = {'name':row["Column Name"], 'dtype':row["Type"]} 
    if row["Partition"]:
        partition_cols.append(col)
    else:
        columns.append(col)
    
#print(columns)
#print(partition_cols)

print("-------------")
schema = {
    'latest_scheam':
    {'columns':columns, 'partition_cols':partition_cols} 
}
print(schema)

-------------
{'latest_scheam': {'columns': [{'name': 'first_name', 'dtype': 'string'}, {'name': 'last_name', 'dtype': 'string'}, {'name': 'company_name', 'dtype': 'string'}, {'name': 'address', 'dtype': 'string'}, {'name': 'city', 'dtype': 'string'}, {'name': 'county', 'dtype': 'string'}, {'name': 'state', 'dtype': 'string'}, {'name': 'zip', 'dtype': 'string'}, {'name': 'phone1', 'dtype': 'string'}, {'name': 'phone2', 'dtype': 'string'}, {'name': 'email', 'dtype': 'string'}, {'name': 'web', 'dtype': 'string'}], 'partition_cols': []}}